<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="BROADCAST_CONNECTION" value="reverb"/>
        <env name="REVERB_APP_ID" value="test-app-id"/>
        <env name="REVERB_APP_KEY" value="test-app-key"/>
        <env name="REVERB_APP_SECRET" value="test-app-secret"/>
        <env name="REVERB_HOST" value="localhost"/>
        <env name="REVERB_PORT" value="8080"/>
        <env name="REVERB_SCHEME" value="http"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="NIGHTWATCH_ENABLED" value="false"/>
        <env name="VAPID_PUBLIC_KEY" value="BJjv8O4gd70uPPdu8a-ksqrXuuseEcJvG_GZNgaOtLpNZGlSnLmnAvOSn-L0lwAnHCAj9lRjdJqYE-8xBPkszIo"/>
        <env name="VAPID_PRIVATE_KEY" value="PgZ7L6RXXD_tQNjSoZb7Kvg7rYYBZmsn_Ve1Y8gF8_0"/>
        <env name="VAPID_SUBJECT" value="mailto:test@irms.test"/>
    </php>
</phpunit>
